/** @format */

.detail {
	display: flex;
	// align-items: center;
	.photo {
		flex: 1;
		height: 350px;
	}
	.info {
		flex: 1;
		height: 350px;
		background-color: #ccc3;
		overflow: hidden;
		.title {
			margin: 20px 0 10px;
			font-size: 30px;
		}
		p {
			margin: 0;
			font-size: 20px;
			text-align: left;
		}
	}
}
.detail2 {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	.photo {
		flex: 1;
		height: 350px;
	}
	.info {
		flex: 1;
		height: 350px;
		background-color: #ccc3;
		overflow: hidden;
		.title {
			margin: 20px 0 10px;
			font-size: 30px;
		}
		p {
			margin: 0;
			font-size: 20px;
			text-align: left;
		}
	}
}

@media screen and (min-width: 320px) {
	.detail{
		.photo, .info {
			height: 320px;
		}
		.info {
			.title {
				margin: 5px 0 5px;
				font-size: 26px;
			}
		}
		p {
			font-size: 14px;
		}
	}
}
@media screen and (min-width: 414px) {
	.detail{
		.photo, .info {
			height: 320px;
		}
		.info {
			.title {
				margin: 5px 0 5px;
				font-size: 25px;
			}
		}
		p {
			font-size: 14px;
		}
	}
}
@media screen and (min-width: 768px) {
	.detail{
		.photo, .info {
			height: 320px;
		}
		.info {
			.title {
				margin: 5px 0 5px;
				font-size: 25px;
			}
		}
		p {
			font-size: 14px;
		}
	}
}
